body {
    background-color: lightgoldenrodyellow;
}

h1 {
    color: midnightblue;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 23px;
    color: crimson;
}
#para1{
    font-family: verdana;
    font-size: 26px;
    color: blue;
}